/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** END RESET CSS**/

:root {
	--primary-color: #1D6154;
	--secondary-color: #0E2F28;
	--primary-text-color: #3D3D3D;
	--secondary-text-color: #000;
	--background-color: #FFFEF8;
	--logo-color: #B1663C;
}

body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: var(--background-color);
}

main {
	max-width: 1140px;
	margin: 8vw 15vw;
		margin-bottom: 0;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 2vw 8vw;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--logo-color)
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--primary-color)
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 20px;

}
nav li {
	padding: 0 10px;
	font-size: 1em;
	line-height: 1.2em;
	font-weight: 400;
}

nav img {
	width: 20px;
	height: auto;
}

li:hover {
	color: var(--logo-color)
}

#introduction {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	margin: 0;
}

#introduction article {
	flex: 0 0 40%;
	max-width: 40%;
	text-align: left;
  }
  
  #introduction figure {
	flex: 0 0 50%;
	max-width: 50%;
  }

#introduction img {
	display: block;
	margin: auto;
	width: 100%;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	margin-top: 12vh;
}

.filter-bar {
	display: flex;
  	justify-content: center;
  	margin-bottom: 4vh;
	gap: 20px;
}

.filter-button {
	padding: 10px 15px;
	cursor: pointer;
	border: 2px solid var(--primary-color);
	background-color: white;
	border-radius: 20px;
	font-family: "syne";
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: var(--primary-color);
}

.filter-button:hover {
	background-color: var(--primary-color);
	color: white;
}


#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery figcaption {
	margin-top: 8px
}

.gallery img {
	width: 100%;

}
#contact, #login {
	width: 50%;
margin: auto;
}
#contact, #login > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact, #login label {
	margin: 2em 0 1em 0;
}

#contact, #login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--primary-color);
	margin: 2em auto;
	margin-bottom: 15px;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#login input[type="submit"]{

}

#login a {
	color: black;
	display: block;
	align-items: center;
	margin-top: 20px;
}


footer {
	background-color: white;
	height: 5vh;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

footer nav li {
	margin-top: 23px
}

